@import '~node_modules/modern-normalize/modern-normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #252b42;
  background-color: #fafafa;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

@media screen and (min-width: 380px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 1240px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1240px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
  }
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 20px;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-right: 120px;
}

@media screen and (max-width: 767px) {
  .header__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__item {
  margin-right: 20px;
}
.header__item--pseudo:last-child {
  margin-right: 0;
}

.header__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: #737373;
}
.header__link--active:hover, .header__link--active:focus {
  color: #00a0c1;
}

/* Menu Button */
.menu-open__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  -webkit-transition: -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (min-width: 1280px) {
  .menu-open__button {
    display: none;
  }
}
/* Mobile Menu container */
.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  width: 64vw;
  height: 100%;
  padding: 20px;
  background-color: #00a0c1;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .menu-container {
    width: 50vw;
  }
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-close__button {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 32px;
  height: 32px;
  outline: transparent;
  fill: #ffffff;
  background-color: transparent;
  border: none;
  -webkit-transition: -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.menu-close__icon {
  fill: #ffffff;
  stroke: #ffffff;
}

/* Menu Navigation Styles */
.menu__nav {
  margin-top: 35vh;
}

.menu__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  text-align: center;
}

.menu__nav-link {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.28em;
  color: #ffffff;
  -webkit-transition: letter-spacing 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: letter-spacing 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__nav-link:hover {
  letter-spacing: 2px;
}

/* Backdrop */
body.no-scroll {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  min-width: 320px;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(18, 20, 23, 0.4);
  -webkit-transition: opacity 750ms cubic-bezier(0.4, 0, 0.2, 1), visibility 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 750ms cubic-bezier(0.4, 0, 0.2, 1), visibility 750ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: all 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: url("../images/hero-m1x.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero-m2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url("../images/hero-t1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero-t2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 794px;
    background-image: url("../images/hero-d1x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero-d2x.jpg");
  }
}
@media screen and (min-width: 1560px) {
  .hero {
    height: 794px;
    background-image: url("../images/hero-d2x.jpg");
  }
}
@media screen and (min-width: 1560px) and (min-device-pixel-ratio: 2), screen and (min-width: 1560px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1560px) and (min-resolution: 192dpi), screen and (min-width: 1560px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero-d3x.jpg");
  }
}

@media screen and (max-width: 767px) {
  .hero__title {
    width: 336px;
    height: 114px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.42;
    letter-spacing: 0.2px;
    padding-top: 100px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 510px;
    height: 160px;
    font-weight: 800;
    font-size: 58px;
    line-height: 1.38;
    letter-spacing: 0.2px;
    padding-top: 184px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 510px;
    height: 160px;
    font-weight: 800;
    font-size: 58px;
    line-height: 1.38;
    letter-spacing: 0.2px;
    padding-top: 184px;
  }
}

@media screen and (max-width: 767px) {
  .hero__subtitle {
    width: 280px;
    height: 120px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    margin-top: 180px;
    color: #737373;
  }
}
@media screen and (min-width: 768px) {
  .hero__subtitle {
    width: 376px;
    height: 60px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    margin-top: 180px;
    color: #737373;
  }
}
@media screen and (min-width: 1200px) {
  .hero__subtitle {
    width: 376px;
    height: 60px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    margin-top: 180px;
    color: #737373;
  }
}

@media screen and (max-width: 767px) {
  .hero__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .hero__wrapper {
    display: inline;
  }
}
@media screen and (min-width: 1200px) {
  .hero__wrapper {
    display: inline;
  }
}

@media screen and (max-width: 767px) {
  .hero__button {
    width: 186px;
    height: 48px;
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.2px;
    color: #ffffff;
    background: #ffa62b;
    border-radius: 37px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  .hero__button {
    width: 186px;
    height: 48px;
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.2px;
    color: #ffffff;
    background: #ffa62b;
    border-radius: 37px;
    margin-top: 50px;
    margin-right: 10px;
    cursor: pointer;
  }
}
@media screen and (min-width: 1200px) {
  .hero__button {
    width: 186px;
    height: 48px;
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.2px;
    color: #ffffff;
    background: #ffa62b;
    border-radius: 37px;
    margin-top: 50px;
    margin-right: 10px;
    cursor: pointer;
  }
}
.hero__button:hover {
  color: #00a0c1;
  border: 1px solid #00a0c1;
  background: transparent;
}

@media screen and (max-width: 767px) {
  .company {
    padding-top: 100px;
  }
}
@media screen and (min-width: 768px) {
  .company {
    padding-top: 130px;
  }
}
@media screen and (min-width: 1200px) {
  .company {
    padding-top: 130px;
  }
}

@media screen and (max-width: 767px) {
  .company__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .company__wrapper {
    position: absolute;
    top: 630px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .company__wrapper {
    position: absolute;
    top: 630px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .company__link {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    margin-bottom: 30px;
  }
  .company__link--pseudo:last-child {
    margin-bottom: 0;
  }
  .company__link--active:hover, .company__link--active:focus {
    background: #00a0c1;
    -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    color: #ffffff;
  }
  .company__link--active:hover .company__title, .company__link--active:focus .company__title, .company__link--active:hover .company__subtitle, .company__link--active:focus .company__subtitle, .company__link--active:hover .company__icon, .company__link--active:focus .company__icon {
    color: #ffffff;
    fill: currentColor;
  }
}
@media screen and (min-width: 768px) {
  .company__link {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .company__link--pseudo:last-child {
    margin-right: 0;
  }
  .company__link--active:hover, .company__link--active:focus {
    background: #00a0c1;
    -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    color: #ffffff;
  }
  .company__link--active:hover .company__title, .company__link--active:focus .company__title, .company__link--active:hover .company__subtitle, .company__link--active:focus .company__subtitle, .company__link--active:hover .company__icon, .company__link--active:focus .company__icon {
    color: #ffffff;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .company__link {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .company__link--pseudo:last-child {
    margin-right: 0;
  }
  .company__link--active:hover, .company__link--active:focus {
    background: #00a0c1;
    -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    color: #ffffff;
  }
  .company__link--active:hover .company__title, .company__link--active:focus .company__title, .company__link--active:hover .company__subtitle, .company__link--active:focus .company__subtitle, .company__link--active:hover .company__icon, .company__link--active:focus .company__icon {
    color: #ffffff;
    fill: currentColor;
  }
}

@media screen and (max-width: 767px) {
  .company__wrap {
    padding: 25px 25px;
    width: 330px;
    height: 210px;
  }
}
@media screen and (min-width: 768px) {
  .company__wrap {
    padding: 30px 30px;
    width: 330px;
    height: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .company__wrap {
    padding: 30px 30px;
    width: 330px;
    height: 200px;
  }
}

.company__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.company__icon {
  margin-bottom: 10px;
  fill: #00a0c1;
}

.company__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 10px;
}

.company__subtitle {
  width: 240px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #737373;
}

@media screen and (max-width: 767px) {
  .choose {
    padding-top: 140px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 768px) {
  .choose {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .choose {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 767px) {
  .choose__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.42;
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 20px;
    width: 260px;
    height: 114px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .choose__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.42;
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .choose__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.42;
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .choose__subtitle {
    width: 230px;
    height: 80px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .choose__subtitle {
    width: 511px;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .choose__subtitle {
    width: 511px;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .choose__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .choose__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .choose__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .choose__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 30px;
    gap: 10px;
    width: 230px;
    height: 210px;
    background: #ffffff;
    -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    margin-bottom: 30px;
  }
  .choose__item--pseudo:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .choose__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 30px;
    gap: 10px;
    width: 230px;
    height: 210px;
    background: #ffffff;
    -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    margin-right: 40px;
  }
  .choose__item--pseudo:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .choose__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 30px;
    gap: 10px;
    width: 230px;
    height: 210px;
    background: #ffffff;
    -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    margin-right: 40px;
  }
  .choose__item--pseudo:last-child {
    margin-right: 0;
  }
}

.choose__desc {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  letter-spacing: 0.2px;
}

.choose__slogan {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1px;
  white-space: nowrap;
  color: #737373;
}

.practice {
  padding-top: 120px;
  padding-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .practice__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.42;
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 20px;
    width: 330px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .practice__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.42;
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .practice__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.42;
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .practice__subtitle {
    width: 470px;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 330px;
  }
}
@media screen and (min-width: 768px) {
  .practice__subtitle {
    width: 470px;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .practice__subtitle {
    width: 470px;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .practice__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .practice__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .practice__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .practice__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 330px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .practice__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 230px;
    height: 340px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    margin-right: 40px;
  }
  .practice__item--pseudo:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .practice__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 230px;
    height: 340px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    margin-right: 40px;
  }
  .practice__item--pseudo:last-child {
    margin-right: 0;
  }
}

.practice__wrap {
  padding: 30px 30px;
}

.practice__quote {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  margin-bottom: 15px;
}

.practice__slogan {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #737373;
}

.practice__image {
  margin-top: auto;
}
@media screen and (max-width: 767px) {
  .practice__image {
    width: 100%;
  }
}

.service {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ffffff;
}

.service__title {
  width: 600px;
  height: 114px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  text-align: center;
  letter-spacing: 0.2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.service__subtitle {
  width: 510px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: 0.2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  color: #737373;
}

.service__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service__left {
  margin-right: 120px;
}

.service__right-title {
  width: 330px;
  height: 114px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
}

.service__right-subtitle {
  width: 330px;
  height: 60px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 50px;
}

.service__right-item {
  margin-bottom: 30px;
}
.service__right-item--pseudo:last-child {
  margin-bottom: 0;
}

.service__right-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service__icon {
  margin-right: 20px;
}

.service__right-slogan {
  width: 280px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  margin-bottom: 10px;
}

.service__right-quote {
  width: 222px;
  height: 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: #737373;
  margin-left: 50px;
}

.partners {
  padding-top: 60px;
  padding-bottom: 140px;
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners__item {
  margin-right: 80px;
}
.partners__item--pseudo:last-child {
  margin-right: 0;
}

.newsletter {
  height: 80px;
  background-color: #252b42;
}

.newsletter__wrap {
  position: absolute;
  top: 3300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px 50px;
  width: 986px;
  height: 124px;
  background-color: #16697a;
  border-radius: 2px;
}

.newsletter__title {
  width: 260px;
  height: 64px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin-right: 180px;
}

.newsletter__input {
  width: 330px;
  height: 60px;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0px 0px 5px;
}

.newsletter__button {
  width: 120px;
  height: 60px;
  background: #ffa62b;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.support {
  padding-top: 80px;
  padding-bottom: 150px;
}

.support__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  letter-spacing: 0.2px;
  text-align: center;
  margin-bottom: 20px;
}

.support__subtitle {
  width: 470px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 110px;
}

.support__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.support__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 40px;
  gap: 15px;
  width: 328px;
  height: 333px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.support__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
}

.support__caption {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1px;
}

.support__button {
  width: 160px;
  height: 44px;
  border: 1px solid #ffa62b;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffa62b;
}

.support__item-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 40px;
  gap: 15px;
  width: 328px;
  height: 393px;
  background-color: #252b42;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.support__link-center {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.support__caption-center {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1px;
  color: #ffffff;
}

.support__button-center {
  width: 160px;
  height: 44px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.consulting {
  height: 150px;
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
}

.consulting__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.consulting__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.1px;
  margin-bottom: 10px;
}

.consulting__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #737373;
}

.consulting__button {
  margin-left: auto;
  width: 160px;
  height: 58px;
  background-color: #ffa62b;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.address {
  height: 280px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #16697a;
}

.address__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address__list {
  margin-right: 60px;
}
.address__list--pseudo:last-child {
  margin-right: 0;
}

.address__caption {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin-bottom: 20px;
}

.address__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 14px;
}

.address__icon {
  margin-right: 10px;
  fill: #ffa62b;
}

.address__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.address__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.footer {
  height: 80px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: #737373;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.footer__link {
  margin-right: 20px;
}/*# sourceMappingURL=index.css.map */